In [35]:
import pandas as pd

import scipy.stats as ss

In [36]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-k-alibekov/personal/csv_files/dating_data.csv')

In [37]:
df.shape

(14514, 4)

In [38]:
df.head()

   user_id_1  user_id_2  group  is_match
0         79         91      1         1
1        716        353      1         1
2        423        677      0         0
3        658        165      1         1
4        969        155      0         1

In [39]:
pd.crosstab(df.group, df.is_match)

is_match     0     1
group
0         3858   934
1         5813  3909

Есть две категориальные переменные → нужен хи-квадрат

- $H_0$: новый алгоритм не улучшил качество сервиса 
- $H_1$: новый алгоритм улучшил качество сервиса

In [40]:
from scipy.stats import chi2_contingency, chi2

In [41]:
stat, p, dof, expected = chi2_contingency(pd.crosstab(df.is_match, df.group))

In [42]:
stat, p

(618.6889141576197, 1.441829916366341e-136)

In [43]:
prob = 0.95
alpha = 1.0 - prob
if p <= alpha:
    print('Отклоняем H0')
else:
    print('Не отклоняем H0')

Отклоняем H0

### Итог: новый алгоритм улучшил качество сервиса, стоит включать новую систему поиска анкет на всех пользователей