In [9]:
import pandas as pd
import numpy as np
from io import BytesIO
import requests


req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))

In [6]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [5]:
df.users.sum()

288

In [11]:
117/288*100

40.625

In [13]:
np.round(40.625, 0)

41.0

In [14]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-k-alibekov/personal/csv_files/7_browser.csv')

In [16]:
df.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [26]:
chrome_robots = pd.Series(np.where(df.browser.str.contains('Chrome') & df.user_type.str.contains('Robots'), 1, 0))

In [27]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

In [28]:
sample_ads = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-k-alibekov/personal/csv_files/sample_ads.csv')

In [30]:
sample_ads.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [40]:
not_nan_count = sample_ads.click_type.notna().sum()
not_nan_count

11

In [44]:
lst = [3, 'xxx', 6, 'abcd', 8, '11']
new_list = []

for i in lst:
    try:
        new_list.append(int(i))
    except:
        continue

print(new_list)

[3, 6, 8, 11]

In [47]:
import requests
import json
from urllib.parse import urlencode

# https://api.telegram.org/bot5604438599:AAEZPpg8I6gArF71dn4wmviFqj4Rb7hlWN4/getUpdates


token = '5604438599:AAEZPpg8I6gArF71dn4wmviFqj4Rb7hlWN4'
chat_id = 277749516  # your chat id

message = 'test'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)