In [1]:
analyst = 'Anatoly'

In [3]:
years = 2

In [4]:
has_job = False

In [5]:
analysts = ['Anatoly', 'Olga']

In [6]:
analysts[0]

'Anatoly'

In [8]:
len(analysts) == 2

True

In [9]:
analysts.append('Michael')

In [10]:
analysts

['Anatoly', 'Olga', 'Michael']

In [11]:
analysts.pop(2)

'Michael'

In [12]:
analysts

['Anatoly', 'Olga']

In [15]:
if has_job:
    message = 'Happy'
else:
    message = 'Sad'
print(message)

Sad

In [2]:
job_years = 5
salary = 100_000
message = 'Addition is equal {coef}. New salary is {new_sal}!'

if job_years < 1:
    coefficient = 0
elif 2 >= job_years >= 1:
    coefficient = 0.2
else:
    coefficient = 0.4

new_salary = salary + salary * coefficient

print(message.format(coef=coefficient, new_sal=new_salary))

Addition is equal 0.4. New salary is 140000.0!

In [10]:
analysts = ['Anatoly', 'Olga']
for i in analysts:
    if i == 'Anatoly':
        print('Analyst name is {}!'.format(i))

Analyst name is Anatoly!

# Словари

In [11]:
analysts_data = {'Anatoly': 2, 'Olga': 3, 'Beslan': 4}
print(analysts_data)

{'Anatoly': 2, 'Olga': 3, 'Beslan': 4}

In [12]:
analysts_data['Beslan']

4

In [13]:
analysts_data['Michael'] = 5

In [14]:
analysts_data

{'Anatoly': 2, 'Olga': 3, 'Beslan': 4, 'Michael': 5}

In [15]:
analysts_data = {'Anatoly': [2, 100_000], 'Olga': [3, 200_000], 'Beslan': [4, 300_000]}

In [16]:
analysts_data

{'Anatoly': [2, 100000], 'Olga': [3, 200000], 'Beslan': [4, 300000]}

In [17]:
analysts_data['Beslan']

[4, 300000]

In [25]:
for i in analysts_data:
    if analysts_data[i][0] >= 3 and analysts_data[i][1] > 200_000:
        print(i, analysts_data[i])

Beslan [4, 300000]

# ДЗ

In [30]:
user_ages = [15, 22]
for i in range(len(user_ages)):
    if user_ages[i] > 15:
        print(user_ages[i])

22

In [44]:
worker = ['Olya', 'Silyutina', 350000, 3]

if worker[3] <= 2:
    position = 'junior'
elif 5 >= worker[3] >= 2:
    position = 'middle'
else:
    position = 'senior'
    
status = ('{0} {1} is {2}'.format(worker[0], worker[1], position))
print(status)

Olya Silyutina is middle

In [55]:
values = [21, 13, 57, 14, 88, 79, 65, 77, 1500, 14, 45, 55, 85, 1, 46, 43, 73, 85, 19, 70, 14, 33, 90, 79, 16, 42, 3, 53, 69, 40, 44, 51, 22, 18, 72, 72, 57, 7, 22, 8, 72, 77, 64, 5, 41, 57, 2, 57, 12, 4, 1, 98, 65, 63, 18, 54, 73, 61, 67, 56, 37, 73, 53, 82, 85, 82, 91, 75, 39, 11, 17, 16, 97, 66, 24, 15, 31, 85, 65, 75, 89, 84, 93, 30, 81, 62, 78, 23, 68, 7, 72, 19, 55, 31, 80, 72, 53, 40, 17, 46, 63]
tens = []
for i in range(len(values)):
    if values[i] % 10 == 0:
        tens.append(values[i])
print(tens)

[1500, 70, 90, 40, 30, 80, 40]

In [19]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 10]]
for i in range(len(workers)):
    if workers[i][3] < 2:
        position = 'junior'
        print('{0} {1} is {2}'.format(workers[i][0], workers[i][1], position))
    elif  5 >= workers[i][3] >= 2:
        position = 'middle'
        print('{0} {1} is {2}'.format(workers[i][0], workers[i][1], position))
    else:
        position = 'senior'
        print('{0} {1} is {2}'.format(workers[i][0], workers[i][1], position))

Ivan Ivanov is junior
Petr Petrov is middle
Sidor Sidorov is senior

In [56]:
n = 0
N = 10
dn = 2
lst = []
while n < N+1:
    lst.append(n)
    n += dn
print(lst)

[0, 2, 4, 6, 8, 10]

In [59]:
salaries_dict = {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60_000, 'position': 'junior'}
print(salaries_dict)

{'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}

In [62]:
users_dict = {'mvolkova' : {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60_000, 'position': 'junior'}, 'pvoronov' : {'name': 'Peter', 'surname': 'Voronov', 'age': 27, 'salary': 100_000, 'position': 'junior'}, 'pparker' : {'name': 'Peter', 'surname': 'Parker', 'age': 35, 'salary': 150_000, 'position': 'middle'}, 'akarpov' : {'name': 'Anatoly', 'surname': 'Karpov', 'age': 30, 'salary': 250_000, 'position': 'senior'}}
print(users_dict)
print(users_dict['mvolkova']['name'])
print(users_dict['mvolkova'])

{'mvolkova': {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}, 'pvoronov': {'name': 'Peter', 'surname': 'Voronov', 'age': 27, 'salary': 100000, 'position': 'junior'}, 'pparker': {'name': 'Peter', 'surname': 'Parker', 'age': 35, 'salary': 150000, 'position': 'middle'}, 'akarpov': {'name': 'Anatoly', 'surname': 'Karpov', 'age': 30, 'salary': 250000, 'position': 'senior'}}
Masha
{'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}