# Print, Input, Переменные

In [1]:
print('Мы изучаем язык Python')

Мы изучаем язык Python

In [2]:
print('Python')
print("Python")

Python
Python

In [3]:
print('Я', 'учусь', 'программировать', 'на', 'Python!')

Я учусь программировать на Python!

In [4]:
print('1', '2', '4', '8', '16')

1 2 4 8 16

In [5]:
print('Какой хороший день!')
print('Работать мне не лень!')

Какой хороший день!
Работать мне не лень!

In [6]:
print('Какой хороший день!')
print()
print('Работать мне не лень!')

Какой хороший день!

Работать мне не лень!

In [7]:
print('В тексте есть "двойные" кавычки')
print("В тексте есть 'одинарные' кавычки")

В тексте есть "двойные" кавычки
В тексте есть 'одинарные' кавычки

In [8]:
print("I'm", 'the', "BAD", 'guy')

I'm the BAD guy

In [10]:
print('Здравствуй, мир!')

Здравствуй, мир!

In [11]:
print('4', '8', '15', '16', '23', '42')

4 8 15 16 23 42

In [12]:
print('4')
print('8')
print('15')
print('16')
print('23')
print('42')

4
8
15
16
23
42

In [13]:
print('*')
print('**')
print('***')
print('****')
print('*****')
print('******')
print('*******')

*
**
***
****
*****
******
*******

In [14]:
name = input()
print('Привет,', name)

Karim
Привет, Karim

In [15]:
club = input()
print(club, '- чемпион!')

Chelsea FC
Chelsea FC - чемпион!

In [16]:
a = input()
print(a)
b = input()
print(b)
c = input()
print(c)

Hello
Hello
Beautiful
Beautiful
World
World

In [17]:
a = input()
b = input()
c = input()
print(c)
print(b)
print(a)

I
love
python
python
love
I

# SEP и END

In [18]:
print('aa', 'bb', 'cc')

aa bb cc

In [19]:
print('aa', 'bb', 'cc', sep=' ')

aa bb cc

In [20]:
print('aa', 'bb', 'cc', sep='*')

aa*bb*cc

In [21]:
minus = '-'
print('aa', 'bb', 'cc', sep=minus)

aa-bb-cc

In [22]:
print("A great man doesn't seek to lead.")
print("He's called to it. And he answers.")

A great man doesn't seek to lead.
He's called to it. And he answers.

In [24]:
print("A great man doesn't seek to lead.", end='\n')
print("He's called to it. And he answers.", end='\n')

A great man doesn't seek to lead.
He's called to it. And he answers.

In [25]:
minus = '-'
print('a', 'b', 'c', end=minus)
print('second line')

a b c-second line

In [26]:
print('Python')
print()
print('C#')
print('Java')
print()
print('JavaScript')

Python

C#
Java

JavaScript

In [27]:
print('a', '\n', 'b', '\n', 'c', sep='*', end='#')

a*
*b*
*c#

In [28]:
print('a', 'b', 'c', sep='*', end='finish')

a*b*cfinish

In [29]:
arg1 = 'Hello'
sep1 = '_-_'
end2 = '+++'

print(arg1, 'everyone', sep=sep1, end='! ')
print('How', 'are', 'you', 'in', '2024?', sep=' ', end=end2)

Hello_-_everyone! How are you in 2024?+++

In [30]:
print('a', 'b', 'c', sep='', end='')
print('d', 'e', 'f', sep='', end='')

abcdef

In [31]:
print('Python', end='\n\n\n')

Python

In [32]:
print('Python', sep='777')

Python

In [36]:
print('I', 'like', 'Python', sep='***')

I***like***Python

In [37]:
name = input()
print('Привет,', name, end="!")

Karim
Привет, Karim!

In [38]:
sep1 = input()
a = input()
b = input()
c = input()
print(a, b, c, sep=sep1)

X
a
b
c
aXbXc

In [39]:
name, surname = 'Timur', 'Guev'
print('Имя:', name, 'Фамилия:', surname)

Имя: Timur Фамилия: Guev

In [40]:
name = 'Timur'
surname = 'Guev'
print('Имя:', name, 'Фамилия:', surname)

Имя: Timur Фамилия: Guev

In [41]:
name, surname = input(), input()
print('Имя:', name, 'Фамилия:', surname)

Karim
Alibekov
Имя: Karim Фамилия: Alibekov

In [43]:
name1 = 'Timur'
name2 = 'Gvido'

name1, name2 = name2, name1

print(name1, name2)

Gvido Timur

In [44]:
name1 = 'Timur'
name2 = 'Gvido'

name1 = name2
name2 = name1

print(name1, name2)

Gvido Gvido

# Целочисленная арифметика

In [45]:
num1 = 7                # num1 - это число
num2 = 10               # num2 - это число
num3 = num1 + num2      # num3 - это число

print(num3)

17

In [46]:
ch1 = int(input())
print(ch1)
print(ch1+1)
print(ch1+2)

11
11
12
13

In [47]:
a = int(input())
b = int(input())
c = int(input())
print(a+b+c)

1
2
3
6

In [48]:
rebro = int(input())
print('Объем =', rebro*rebro*rebro)
print('Площадь полной поверхности =', 6*(rebro*rebro))

12
Объем = 1728
Площадь полной поверхности = 864

In [49]:
a = int(input())
b = int(input())
value = 3*(a+b)**3 + 275*b**2 - 127*a - 41
print(value)

3
7
16053

In [50]:
a = int(input())
print("Следующее за числом", str(a), "число:", str(a+1))
print("Для числа", str(a), "предыдущее число:", str(a-1))

6
Следующее за числом 6 число: 7
Для числа 6 предыдущее число: 5

In [51]:
a, b, c, d = int(input()), int(input()), int(input()), int(input())
print((a+b+c+d)*3)

2
5
12
4
69

In [52]:
a, b = int(input()), int(input())
print(str(a), '+', str(b), "=", str(a+b))
print(str(a), '-', str(b), "=", str(a-b))
print(str(a), '*', str(b), "=", str(a*b))

3
-5
3 + -5 = -2
3 - -5 = 8
3 * -5 = -15

In [53]:
a1 = int(input())
d = int(input())
n = int(input())
print(a1 + d*(n-1))

5
2
11
25

In [54]:
x = int(input())
print(str(x), str(x*2), str(x*3), str(x*4), str(x*5), sep='---')

100
100---200---300---400---500

In [55]:
print(2 * 3**2 - 1)

17

In [56]:
b1 = int(input())
q = int(input())
n = int(input())
print(b1*q**(n-1))

1
2
3
4

In [58]:
a = int(input())
print(a//100)

444
4

In [59]:
students = int(input())
mandarins = int(input())

print(mandarins//students)
print(mandarins % students)

7
22
3
1

In [60]:
n = int(input())
print((n // -2)*-1)

4
2

In [61]:
min = int(input())
print(str(min), "мин - это", str(min//60),  "час", str(min%60), "минут.")

123
123 мин - это 2 час 3 минут.

In [62]:
seat_number = int(input())
coupe_number = (seat_number - 1) // 4 + 1
print(coupe_number)

2
1

In [63]:
num = 17
a = num % 10
b = num // 10
print(a)
print(b)

7
1

In [64]:
num = 754
a = num % 10
b = (num % 100) // 10
c = num // 100
print(a)
print(b)
print(c)

4
5
7

In [65]:
num = int(input())
last_digit = num % 10
first_digit = num // 10

print('Число десятков =', first_digit)
print('Число единиц =', last_digit)

145
Число десятков = 14
Число единиц = 5

In [66]:
num = int(input())
last_digit = num % 10
first_digit = num // 10

print('Сумма цифр =', last_digit + first_digit)

123
Сумма цифр = 15

In [67]:
num = int(input())
last_digit = num % 10
first_digit = num // 10

print('Искомое число =', last_digit * 10 + first_digit)

12
Искомое число = 21

In [68]:
num = int(input())
digit3 = num % 10
digit2 = (num // 10) % 10
digit1 = num // 100

print(digit1, digit2, digit3, sep=',')

234
2,3,4

In [69]:
a = int(input())

first_digit = a // 100 #1
second_digit = (a // 10) % 10 #2
third_digit = (a % 10) 

print("Сумма цифр =", first_digit + second_digit + third_digit)
print("Произведение цифр =", first_digit * second_digit * third_digit)

389
Сумма цифр = 20
Произведение цифр = 216

In [70]:
num = int(input())
c = num % 10
b = (num % 100) // 10
a = num // 100
print(a,b,c,sep='')
print(a,c,b,sep='')
print(b,a,c,sep='')
print(b,c,a,sep='')
print(c,a,b,sep='')
print(c,b,a,sep='')

321
321
312
231
213
132
123

In [71]:
num = int(input())
a = num // 1000
b = (num // 100) % 10
c = ((num // 10) % 100) % 10
d = num % 10

print("Цифра в позиции тысяч равна", a)
print("Цифра в позиции сотен равна", b)
print("Цифра в позиции десятков равна", c)
print("Цифра в позиции единиц равна", d)

4971
Цифра в позиции тысяч равна 4
Цифра в позиции сотен равна 9
Цифра в позиции десятков равна 7
Цифра в позиции единиц равна 1

# Итоговая работа

In [72]:
print('*****************')
print('*','','','','','','','','','','','','','','','*')
print('*','','','','','','','','','','','','','','','*')
print('*****************')

*****************
*               *
*               *
*****************

In [73]:
a = int(input())
b = int(input())
print("Квадрат суммы", a, 'и', b, "равен", (a+b)**2)
print("Сумма квадратов", a, 'и', b, "равна", a**2 + b**2)

3
8
Квадрат суммы 3 и 8 равен 121
Сумма квадратов 3 и 8 равна 73

In [74]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
print(a**b + c**d)

1
5
6
2
37

In [75]:
a = int(input())
print(a + (a*11) + (a*111))

4
492